.hero__buttons .cta_new:first-child {
    margin-right: 20px;
}
.fixed-top {
    background-color: #fff;
}
/**********funnel-header-start**************/

.funnel-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width:100%;
-webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
      z-index: 1;
          
}
.fixed_funnel-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 16px -2px rgb(2 94 172 / 32%);
    animation: slideDown 0.35s ease-out;
    background-color: #fff;
}
.fixed-header__buttons a {
    margin: 0 7px 0 7px!important;
}
/**********funnel-header-end**************/


/**********plan-box-start**************/
.plan-box {
    text-align: center;
    display: inline-block;
    width: 100%;   
    min-height: 155px
}
.plan-box h3 {
    padding: 0;
    margin: 5px 0 0;
    font-size: 18px;
    font-weight: 600!important;
}
.plan-box .plan-price {
    position: relative;
    display: inline-block;
}
.plan-box .currency {
    font-size: 24px;
    position: absolute;
    right: 100%;
    top: 7px;
    color:#7b85a5;
    margin-right: 5px;
}
.plan-box .price {
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
}
.plan-box .price-rest {
    font-size: 12px;
    left: 100%;
    position: absolute;
    top: 10px;
}
.plan-box .plan-duration {
    color: #7b85a5;
    margin: 10px 0 3px;
}

.plan-box .min-user-text {
    font-size: 13px;
}
.plan-box .price-new {
    font-size: 30px;
    line-height: 60px;
    font-weight: 700;
}
.plan-box-dark h3, .plan-box-dark p, .plan-box-dark .currency, .plan-box-dark .price, .plan-box-dark .price-rest, .plan-box-dark .plan-duration, .plan-box-dark .min-user-text, .plan-box-dark .price-new{
    color: #fff;
}
.ringcentral-boxes .plan-box {
    min-height: 185px;
}

/**********plan-box-end**************/




.mega-menu-hover .elementor-icon-box-content:hover {
    background-color: #f8f9fa;
}
.mega-menu-hover .elementor-icon-box-content {
    padding: 18px 10px;
}
.mega-menu-hover .elementor-icon-box-content h3 {
    margin-top: 0;
    position: relative;
}
.mega-menu-hover .elementor-icon-box-content:hover h3:before {
    border-left: 3px solid #03b1ee;
    content: "";
    left: -9px;
    position: absolute;
    top: 0;
    display: block;
    height: 20px;
    width: auto;
}
.outerDivFull {
  align-items: center;
}
.outerDivFull .switchToggle {
  margin-left: 15px;
}
body.home {
    overflow-x: hidden;
}
body:not(.home) .feature-header ul {
    font-size: 18px;
    font-weight: 400;
    color: #818198;
    line-height: 1.6;
}

body:not(.home) .feature-header ul li {
    margin-bottom: 0;
}

.elementor-element.single-testimonial {
    width: 700px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.elementor-element.single-testimonial .testimonial-img {
    width: 100px !important;
    margin: auto;
}

.elementor-element.single-testimonial .testimonial-text {
    width: 100% !important;
}

.elementor-element.single-testimonial .testimonial-text p {
    font-size: .9em;
    line-height: 20px;
    color: #3d5059;
}

.img-box {
    background: #fff;
    padding: 20px;
    box-shadow: 10px 10px 30px 1px rgb(61 80 90 / 6%);
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.img-box .elementor-image-box-content .elementor-image-box-title {
    color: #3d505a !important;
    font-size: 15px;
    margin: 0 0 10px;
    line-height: 1.5;
}

.img-box .elementor-image-box-content .elementor-image-box-description {
    font-size: 14px;
    line-height: 1.5;
    color: #818198 !important;
}

.cta_new.cta-green {
    box-shadow: 0 12px 26px 2px rgb(97 206 112 / 47%);
    background: #61ce70;
    background: linear-gradient(180deg, #82f391 0%, #6cde7c 50%, #3caf4b 100%);
}

.cta_new.cta-green span, .cta_new.cta-green em {
    background: #61ce70;
    box-shadow: none;
    border: none;
    font-style: normal !important;
}

.cta_new.cta-green:hover {
    box-shadow: 0 16px 32px 3px rgb(97 206 112 / 47%) !important;
}

.two-ctas .cta_new {
    width: 250px;
    display: inline-block;
    margin: 5px 20px;
}

.company-logos img {
    width: 100px;
    opacity: .6;
    cursor: pointer;
    max-width: 100%;
}

body.post-template-default #primary main.site-main article.post {
    display: inline-block;
    text-align: left;
    width: 95%;
    max-width: 750px;
    margin: 10px 5px;
    vertical-align: top;
    min-height: 500px;
}

body.post-template-default #primary main.site-main {
    text-align: center;
}

body.post-template-default #primary main.site-main article.post table {
    margin-bottom: 20px;
}

body.post-template-default #primary main.site-main article.post table td {
    padding: 8px 10px;
    vertical-align: middle;
    border-color: #ddd;
}

body.post-template-default #primary main.site-main article.post > .container > .row {
    display: block;
    margin-left: 0;
    margin-right: 0;
}

body.post-template-default #primary main.site-main article.post .post-infos p {
    color: #818198;
    font-size: 0.9em !important;
    margin-top: 10px;
}

body.post-template-default #primary main.site-main article.post h2 {
    font-size: 1.5em;
}

body.post-template-default #primary main.site-main article.post h3 {
    font-size: 1.3em;
}

body.post-template-default #primary main.site-main article.post h4 {
    font-size: 1.1em;
    margin: 20px 0;
}

body.post-template-default #primary main.site-main article.post ul, body.post-template-default #primary main.site-main article.post ol {
    width: auto;
    margin: 0 0 1.5em 3em;
    list-style: outside;
}

body.post-template-default #primary main.site-main article.post .about-author-sec {
    padding-bottom: 12px;
}

body.post-template-default #primary main.site-main article.post .about-author-sec h5 {
    font-size: 1.2em;
}

body.post-template-default #primary main.site-main article.post p img {
    max-width: 100%;
    height: auto;
}

body.post-template-default #primary main.site-main article.post em {
    font-style: italic;
}

.video-container {
    box-shadow: 0px 4px 24px 0px rgb(0 0 0 / 10%);
    background: #fff;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body.blog .blog header {
    text-align: center;
    margin-bottom: 50px;
}

.cta_new em i {
    padding: 0 5px 0 0;
}

.accordion-modified .elementor-accordion .elementor-tab-title.elementor-active a {
    color: #03b1ee !important;
}
.accordion-modified .elementor-accordion .elementor-tab-title a {
    font-family: "Open Sans", Sans-serif!important;
  font-size: 18px!important;
}
.accordion-modified .elementor-accordion .elementor-tab-title.elementor-active .elementor-accordion-icon {
    color: #03b1ee !important;
}

body .accordion-modified .elementor-accordion .elementor-tab-content {
    padding-bottom: 15px !important;
    height: auto !important;
}


.cta_new.align_left em .fa {
    position: initial;
    padding: 0 5px 0 0;
}

.cta_new.align_left em .fas {
    position: initial;
    padding: 0 5px 0 0;
}

.cta_new span .fas {
    position: initial;
    padding: 0 5px 0 0;
}

.cta_new span {
    padding: 20px 12px 19px 12px;
}

.box-title a {
    color: #3D505A;
    font-size: 16px;
}

.box-text a {
    padding: 0;
    font-size: 14px;
}

.my_testimonial_slider:before {
    width: 8%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, white, transparent);
    z-index: 9;
}

.my_testimonial_slider:after {
    width: 8%;
    height: 100%;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background-image: linear-gradient(to right, transparent, white);
    z-index: 9;
}
.my_testimonial_slider .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}

.elementor-widget-form .elementor-button {
    cursor: pointer;
}

.hubspot-elementor-form .elementor-message.elementor-message-danger {
    background: #DE3636;
    color: #fff !important;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

.hubspot-elementor-form .elementor-field-type-acceptance label {
    font-size: 13px!important;
}

.hubspot-elementor-form .elementor-message.elementor-message-success {
    text-align: center;
    font-size: 16px !important;
    border-radius: 7px;
}

.hubspot-elementor-form .elementor-message.elementor-message-success h3 {
    color: #fff;
}

.hubspot-elementor-form .elementor-message.elementor-message-success:before {
    background: #fff;
    width: 40px;
    height: 40px;
    color: var(--e-global-color-primary);
    font-size: 24px;
    line-height: 40px;
    border-radius: 50%;
}

.hubspot-elementor-form .elementor-message.elementor-message-success .cta_new.cta-white span {
    padding: 7px 15px!important;
}

.hubspot-elementor-form .elementor-message.elementor-message-success p {
    width: 80%;
    margin: auto;
    line-height: 1.5;
}

.hubspot-elementor-form .select2.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 10px 8px 0 8px !important;
    margin-top: 6px !important;
}

.hubspot-elementor-form .select2.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 8px 10px 8px !important;
    margin-top: 3px !important;
}

.hubspot-elementor-form .select2-container .select2-selection img, .select2-container .select2-results__option img {
    width: 32px!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    border-radius: 3px;
    max-height: 24px;
    object-fit: contain;
    border: thin solid #d6d6d6;
}
.hubspot-elementor-form .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px!important;
}

.section-rotate-blue {
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
	background:#F4FCFF;
	border-radius: 20px;
}

.section-rotate-blue .elementor-widget-wrap {
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
    padding: 50px !important;
} 


@media only screen and (max-width:767px) {
	
	
	/**********funnel header start**********/

.fixed-header__buttons {
    text-align: center;
}
 .funnel-header .wrap_cta {
    text-align: center;
}
.funnel-header .wrap_cta a {
    width: auto;    
   margin: 0 5px 0!important;
}
.funnel-header .wrap_cta .cta_new span {
    padding: 10px 18px!important;
}

.funnel-header .wrap_cta {
    text-align: center;
}
 .fixed_funnel-header .sales-logo-header {
    display: none;
}	
 /**********funnel header end**********/
  
    body.post-template-default #primary main.site-main article.post > .container > .row {
        padding: 0
    }
	
    .feature-header .wrap_cta {
        padding-top: 0;
    }

    .box-info .box-text {
        margin-bottom: 0;
    }
	
	    .hubspot-elementor-form .elementor-field-group-country_code {
        width: 40%;
    }
    .hubspot-elementor-form .elementor-field-type-tel{
        width: 60%;
    }
	 
}
  

@media only screen and (max-width: 1120px) and (min-width: 1025px)   
{
 .top-header-btn .cta_new span
	{ padding: 10px 13px 10px 13px !important;
}
	#menu-header-v2.elementskit-navbar-nav>li>a {
    padding: 7px 7px;
}

}
